{% extends 'HMS/base.html' %}
{% load static %}
{% block title %} HOME {% endblock title %}
    {% block body %} 
    <div>
    {% comment %} <p style="color:red;">
        A healthcare center, health center, or community health center is one of a network of clinics staffed by a group of general practitioners and nurses providing healthcare services to people in a certain area. Typical services covered are family practice and dental care, but some clinics have expanded greatly and can include internal medicine, pediatric, women’s care, family planning, pharmacy, optometry, laboratory testing, and more. In countries with universal healthcare, most people use the healthcare centers. In countries without universal healthcare, the clients include the uninsured, underinsured, low-income or those living in areas where little access to primary health care is available.
    </p>
    <p style="color:red;">
        The health center (Portuguese: centro de saúde) was the basic community primary healthcare unit of the National Health Service of Portugal, as well as acting as the local public health authority. Usually, each health center covered the area of one of the Portuguese municipalities, but municipalities with over 15 000 habitants could be covered by more than one of these centers. Health centers were staffed with general practitioners, public health physicians, nurses, social workers and administrative personnel.

In 2008, the more than 300 health centers were aggregated into around 70 health center groups (agrupamentos de centros de saúde) or ACES. Each ACES includes several family and personalized healthcare units, these being now the basic primary health care providers of the Portuguese National Health Service. Besides family health care services, the ACES also include public health, community health and other specialized units, as well as basic medical emergency services.
    </p> {% endcomment %}
</div>
    {% endblock body %}

